header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "hamburger lead .";
  background-color: #8d9fdd;
  z-index: 1;
  -webkit-box-shadow: 0 2px 2px black;
  -moz-box-shadow: 0 2px 2px black;
  box-shadow: 0 2px 2px black;
}

.toggle-menu {
  display: hidden;
}

.head-lead {
  grid-area: lead;
  margin: auto;
}

nav {
  display: table;
  overflow-y: auto;
  background-color: #e5d9f2;
}

nav ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

nav ul li {
  text-align: center;
  list-style: none;
  flex-grow: 1;
}

nav ul li a {
  padding-top: 20px;
  height: 5vh;
  display: block;
  text-decoration: none;
  color: black;
}

a:hover {
  background-color: white;
}

footer {
  background-color: #8d9fdd;
  text-align: center;
}

@media only screen and (max-width: 700px) {
  nav {
    display: none;
  }

  nav.change{
    display: inline;
    position: absolute;
    margin-top: 8vh;
    width: 100vw;
    height: 92vh;
    opacity: 0.9;

    -webkit-animation: fadein .5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein .5s; /* Firefox < 16 */
    -ms-animation: fadein .5s; /* Internet Explorer */
    -o-animation: fadein .5s; /* Opera < 12.1 */
    animation: fadein .5s;
  }

  .toggle-menu {
    z-index: 100;
    cursor: pointer;
    grid-area: hamburger;
    margin: auto 0;
    padding-left: 15px;
  }

  .toggle-menu > div {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 4px 0;
    border-radius: 3px;
    transition: 0.5s;
  }

  .change.ham-top {
    -webkit-transform: rotate(-45deg) translate(-9px, 7px);
    transform: rotate(-45deg) translate(-9px, 7px);
  }

  .change.ham-mid { opacity: 0; }

  .change.ham-bot {
    -webkit-transform: rotate(45deg) translate(-5px, -5px);
    transform: rotate(45deg) translate(-5px, -5px);
  }

  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.9; }
  }

  /* Firefox < 16 */
  @-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.9; }
  }

  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.9; }
  }

  /* Internet Explorer */
  @-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.9; }
  }

  /* Opera < 12.1 */
  @-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.9; }
  }
}
