header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "hamburger lead .";
  background-color: #8d9fdd;
  z-index: 1;
  -webkit-box-shadow: 0 2px 2px black;
  -moz-box-shadow: 0 2px 2px black;
  box-shadow: 0 2px 2px black;
}

.toggle-menu {
  display: hidden;
}

.head-lead {
  grid-area: lead;
  margin: auto;
}

nav {
  overflow-y: auto;
  background-color: #e5d9f2;
}

main {
  background-color: yellow;
}

footer {
  text-align: center;
  background-color: purple;
}

@media only screen and (max-width: 700px) {
  nav{
    display: none;
  }

  .toggle-menu {
    cursor: pointer;
    grid-area: hamburger;
    margin: auto 0;
    padding-left: 15px;
  }

  .toggle-menu > div {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 4px 0;
    border-radius: 3px;
    transition: 0.5s;
  }

  .change.ham-top {
    -webkit-transform: rotate(-45deg) translate(-9px, 7px);
    transform: rotate(-45deg) translate(-9px, 7px);
  }

  .change.ham-mid { opacity: 0; }

  .change.ham-bot {
    -webkit-transform: rotate(45deg) translate(-5px, -5px);
    transform: rotate(45deg) translate(-5px, -5px);
  }
}
