<div class="container">
  <header>
    <span class="toggle-menu" (click)="toggleSidebar()">
      <div class="ham-top" [class.change]="toggleHamburger"></div>
      <div class="ham-mid" [class.change]="toggleHamburger"></div>
      <div class="ham-bot" [class.change]="toggleHamburger"></div>
    </span>
    <span class="head-lead">TITLE</span>
  </header>

  <nav [class.change]="toggleHamburger">
    <ul>
      <li>
        <a routerLink="diet">Diet</a>
      </li>
      <li>
        <a routerLink="weight">Weight</a>
      </li>
      <li>
        <a routerLink="schedule">Schedule</a>
      </li>
    </ul>
  </nav>

  <main>
    <router-outlet></router-outlet>
  </main>

  <footer>
    Copyright &copy; Gregory Brinkman
    <span id="cr-date"></span>
  </footer>
</div>
